<div class="plan <%=h "urn-#{plan.urn}" rescue '' %><%=h first ? ' first' : ''  %>">
  <div class="name"><%=h plan.name rescue 'Unknown' %></div>
  <div class="fee"><%=h plan.fee.gsub(/\.00/, '') rescue 'Unknown' %></div>
  <% if plan.respond_to?(:picture) %><div class="img"><%=image_tag plan.picture %></div><% end%>
  <div class="description"><%= plan.description  rescue 'Unknown' %></div>
</div>